<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fazer Previsões</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegression.css') }}">
  </head>

  <body>
    <!-- Navbar Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo"> <!-- Adicione o caminho correto para a sua logo -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/Classificacao">Classificação</a>
          </li>  
          <li class="nav-item active">
            <a class="nav-link" href="/Regressao">Regressão<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Analisegrafica">Análise Gráfica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Normalidadeecorrelação">Normalidade e Correlação</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/RegrasAssociacao">Regras de Associação</a>
          </li>
        </ul>
      </div>
    </nav>

    
    <div class="scene">
      <h1 class="center">Algoritimos de Regressão</h1>
      <div class="background"> 
        <form id="prediction-form" enctype="multipart/form-data">
          <label for="regression">Escolha o tipo de classificador:</label>
          <div class="nes-select">
            <select name="regression" id="regression" class="nes-select">
              <option value="" selected></option>
              <option value="simple_linear_regression">SIMPLE LINEAR</option>
              <option value="multiple_linear_regression">MULTIPLE LINEAR</option>
              <option value="polynomial_regression">POLYNOMIAL</option>
              <option value="regression_by_support_vectors">SUPPORT VECTORS(SVR)</option>
              <option value="regression_with_decision_tree">DECISION TREE</option>
              <option value="regression_with_random_forest">RANDOM FOREST</option>
              <option value="regression_with_xgboost">XGBOOST</option>
              <option value="regression_with_light_gbm">LIGHT GBM</option>
              <option value="regression_with_catboost">CATBOOST</option>
              
            </select><br />
          </div>
          
          
          <label for="csv_file" class="nes-btn">
            <span>Selecione o arquivo</span>
            <input type="file" name="csv_file" id="csv_file" required /><br />
          </label>
          
          
          <div id="parameters" class="nes-field"></div>
          <div id="result"></div>
          <div id="features" ></div>
          <div class="spinner" id= "spinner"></div>

          <section class="nes-container with-title" id="section">  
            <h3 class="title">Deseja realizar teste de dados?</h3>
            <div>
              <label>
                <input type="radio" class="nes-radio is-dark" name="answer-dark" value="yes" />
                <span>Sim</span>
              </label>
            
              <label>
                <input type="radio" class="nes-radio is-dark" name="answer-dark" value="no" checked />
                <span>Não</span>
              </label>
            </div>
          </section> 
          
          
          <div class="deploy">
            <label for="csv_deploy" class="nes-btn">
              <span>Selecione o arquivo para teste</span>
              <input type="file" name="csv_deploy" id="csv_deploy"/><br />
            </label>
          </div>
          
          <div id="posicao"></div>
          <button type="submit" class="nes-btn is-success" id= "but">Enviar</button>
          <div id="result1"></div>
        </form>


        
        <div class="container-code">
          <button type="button" class="nes-btn is-primary" onclick="toggleCode()">Mostrar Código</button>
          <button type="button" class="nes-btn is-warning" onclick="copyCode(event)">Copiar código</button>

          <section class="code-container" id="codeBlock">
              <pre>
<code id = "windowcode">
</code>
              </pre>
          </section>

          <!-- Balão de notificação -->
          <div id="notification" class="nes-balloon from-left">
              <p>Código copiado para a área de transferência!</p>
          </div>
      </div>
       
      </div>
      
    </div> 

    <div class="container">
      <footer class="mt-5 py-3 text-black">
        <div class="container text-center">
          <span>&copy; 2024 Eduardo dos Santos Rocha</span>
          <div class="social-icon">
            
            <a href="https://github.com/EduardodosSantosRocha2"><img src={{ url_for('static', filename='img/github.png') }} alt="GitHub"></a>
            <a href="https://www.linkedin.com/in/eduardo-santos-b69414242/"><img src={{ url_for('static', filename='img/linkedin.png') }} alt="LinkedIn"></a>
            <a href="https://www.instagram.com/dudusantos_777/"><img src={{ url_for('static', filename='img/instagram.png') }} alt="Instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=100017899630261"><img src={{ url_for('static', filename='img/facebook.png') }} alt="Facebook"></a>
            
            
            
          </div>
        </div>
      </footer>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='script/regression.js') }}"></script>
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
  </body>
</html>
