<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fazer Previsões</title>
    
  </head>

  <body>
    <h1>Fazer Previsões</h1>
    <form id="prediction-form" enctype="multipart/form-data">
      <label for="regression">Escolha o tipo de classificador:</label>
      <select name="regression" id="regression">
        <option value="" selected></option>
        
        <option value="simple_linear_regression">SIMPLE LINEAR</option>
        <option value="multiple_linear_regression">MULTIPLE LINEAR</option>
        <option value="polynomial_regression">POLYNOMIAL</option>
        <option value="regression_by_support_vectors">SUPPORT VECTORS(SVR)</option>
        <option value="regression_with_decision_tree">DECISION TREE</option>
        <option value="regression_with_random_forest">RANDOM FOREST</option>
        <option value="regression_with_xgboost">XGBOOST</option>
        <option value="regression_with_light_gbm">LIGHT GBM</option>
        <option value="regression_with_catboost">CATBOOST</option>
        </select><br />
      <label for="csv_file">Enviar arquivo CSV:</label>
      <input type="file" name="csv_file" id="csv_file" required /><br />
      <div id="parameters"></div>
      <div id="features"></div>
      <div id ="posicao"></div>
      <button type="submit">Enviar</button>
    </form>
    <div id="result"></div>
    <script type= "text/javascript" src="{{ url_for('static', filename='script/regression.js') }}"></script>
  </body>
</html>
