<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TYPEDATA</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
  </head>

  <body>
    <h1>Testar Dados</h1>
    <form id="prediction-form" enctype="multipart/form-data">
      <label for="csv_file">Enviar arquivo CSV:</label>
      <input type="file" name="csv_file" id="csv_file" required /><br />
      <div id="parameters"></div>
      <div id="features"></div>
      <button type="submit">Enviar</button>
    </form>
    <div id="result"></div>
    <div class="container">
      <div class="row">
          <div class="col">
              <div class="table-responsive"> 
                  <table class="table table-bordered"> 
                      <thead class="thead-light"> 
                          <tr id="headerRow">
                          
                          </tr>
                      </thead>
                      <tbody id="tableBody">
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

   <script type= "text/javascript" src="{{ url_for('static', filename='script/typedata.js') }}"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
			<div class="vw-plugin-top-wrapper"></div>
		</div>
	  </div>
	  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
	  <script>
		  new window.VLibras.Widget('https://vlibras.gov.br/app');
	  </script>
  </body>
</html>
